* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --text-: #232323;
}
html,
body {
  height: 100%;
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}
.body_container {
  background: linear-gradient(to right, #d9d9d9 50%, #c1a080 50%);

  width: 100%;
  height: max-content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
}

/* NAVBAR CSS */
.navbar {
  width: 100%;
  height: 10vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Gilda Display", serif;
}

.navbar h1 {
  color: var(--text-);
  font-weight: 100;
  font-size: 4em;
}

/* LOGIN CONTAINER */
.login_container {
  width: 40%;
  height: max-content;

  border: 2px solid var(--text-);
  border-radius: 30px;

  background-color: #d9d9d9;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;

  margin-bottom: 2em;

  font-family: "Roboto", sans-serif;
}
.login_container > h1 {
  color: var(--text-);

  font-weight: 100;
  font-size: 3em;
  font-family: "Gilda Display", serif;

  padding: 0.5em 0em;
}
@media screen and (max-width: 680px) {
  .login_container {
    width: 80%;
    gap: 0.5em;

    margin-bottom: 1em;
  }
  .login_container > h1 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 680px) and (max-width: 1300px) {
  .login_container {
    width: 60%;
    gap: 0.5em;

    margin-bottom: 1em;
  }
  .login_container > h1 {
    font-size: 2.5em;
  }
}
/* LOGIN NAME */
.login_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: max-content;
}
.login_name > h1 {
  color: var(--text-);
  font-weight: 300;
  font-size: 2em;
}
.login_name > input {
  width: 90%;
  height: 4em;

  border: 1px solid var(--text-);
  border-radius: 20px;
  outline: none;

  background-color: #d9d9d9;
}
/* LOGIN EMAIL */
.login_email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: max-content;
}
.login_email > h1 {
  color: var(--text-);
  font-weight: 300;
  font-size: 2em;
}
.login_email > input {
  width: 90%;
  height: 4em;

  border: 1px solid var(--text-);
  border-radius: 20px;
  outline: none;

  background-color: #d9d9d9;
}
/* LOGIN PASS */
.login_pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: max-content;
}
.login_pass > h1 {
  color: var(--text-);
  font-weight: 300;
  font-size: 2em;
}
.login_pass > input {
  width: 90%;
  height: 4em;

  border: 1px solid var(--text-);
  border-radius: 20px;
  outline: none;

  background-color: #d9d9d9;
}
/* FORGOT SEC */
.remember-forgot_sec {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  width: 90%;
}
/* checkbox */
.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #d9d9d9;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--text-);
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: var(--text-);
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: var(--text-);
  border-color: var(--text-);
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}
#remember-checkbox {
  font-size: 1.5em;
}
@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}

.remember-forgot_sec > a {
  color: var(--text-);
  font-size: 1.5em;
  text-decoration: none;
}

@media screen and (max-width: 680px) {
  .remember-forgot_sec > a {
    font-size: 0.7em;
  }
  #remember-checkbox {
    font-size: 0.9em;
  }
  .login_email > input {
    width: 90%;
    height: 2.5em;
    border-radius: 13px;
  }
  .login_pass > input {
    width: 90%;
    height: 2.5em;
    border-radius: 13px;
  }
}
@media screen and (min-width: 680px) and (max-width: 1300px) {
  .remember-forgot_sec > a {
    font-size: 0.9em;
  }
  #remember-checkbox {
    font-size: 1em;
  }
  .login_email > input {
    width: 90%;
    height: 3em;
    border-radius: 13px;
  }
  .login_pass > input {
    width: 90%;
    height: 3em;
    border-radius: 13px;
  }
}

/* sign up button */
#sign-up_btn {
  width: 90%;

  font-size: 2em;
  font-weight: 100;

  padding: 0.5em;

  color: #d9d9d9;
  background-color: var(--text-);

  border-radius: 30px;
  border: none;
  outline: none;

  cursor: pointer;
}
.divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 0 2em;
}
.divider hr {
  width: 35%;
  height: 2px;
  background-color: var(--text-);
}
.divider h3 {
  color: var(--text-);

  font-size: 1.3em;
}
.login_socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.login_socials i {
  font-size: 3em;
  font-weight: 900;

  color: var(--text-);

  cursor: pointer;

  border: 2px solid var(--text-);
  border-radius: 50%;
  padding: 0.2em 0.25em;
}

.signup_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.5em;

  padding-bottom: 2em;
}
.signup_link h1 {
  font-size: 1.8em;
  color: #232323;
  font-weight: 400;
}
.signup_link a {
  text-decoration: none;
  color: #232323;
  font-weight: 800;
}

@media screen and (max-width: 680px) {
  #sign-up_btn {
    font-size: 1.6em;

    padding: 0.5em;
  }
  .divider hr {
    width: 30%;
    height: 2px;
  }
  .divider h3 {
    font-size: 1em;
  }
  .login_socials {
    gap: 1.3em;
  }
  .login_socials i {
    font-size: 1.5em;
  }
  .signup_link h1 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 680px) and (max-width: 1300px) {
  #sign-up_btn {
    font-size: 2em;
    font-weight: 100;
  }
  .divider hr {
    width: 30%;
  }
  .divider h3 {font-size: 1.3em;
  }

  .login_socials {
    gap: 1.3em;
  }
  .login_socials i {
    font-size: 2em;
  }
  .signup_link h1 {
    font-size: 1.6em;
  }
}

/* FOOTER */
.footer_main {
  width: 100%;
  height: 45vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  overflow: hidden;

  font-family: "Roboto", sans-serif;
}
.dook-section {
  width: 100%;
  height: 50vh;
  background-color: #161616;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dook-section:after {
  content: "DOOK";
  color: rgba(255, 255, 255, 0.05);
  font-size: 28em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dook_title-n-links {
  display: flex;
  flex-direction: column;

  padding: 0.7rem 3rem;
}
.footer-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-title > h1 {
  color: #fff;
  font-size: 3rem;
}
.footer-title > hr {
  width: 80%;
  height: 1px;
  background-color: #fff;
}
.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  padding: 0 4rem;
}
.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.dook_socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 2rem;
  font-size: 1.5rem;

  color: #fff;
}
.dook-section h2 {
  color: white;
}
.dook_copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 620px) {
  .footer_newslatter {
    gap: 2rem;
    padding-bottom: 10rem;
  }
  .footer_newslatter > h1 {
    font-size: 1.3rem;
  }
  .footer_newslatter > button {
    font-size: 1.5rem;
    padding: 0.5rem 3.5rem;
  }

  .dook-section {
    height: 60vh;
  }

  .dook-section:after {
    font-size: 8em;
  }
  .footer-links {
    gap: 1em;
    font-size: 0.3em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dook_copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 0.8em;
    line-height: 2.5em;

    margin-top: 1rem;
  }
}
@media screen and (min-width: 620px) and (max-width: 1500px) {
  .footer_newslatter {
    gap: 2rem;
    padding-bottom: 4rem;
  }
  .footer_newslatter > h1 {
    font-size: 2.5rem;
  }

  .footer_main {
    width: 100%;
    height: 30vh;
  }
  .dook-section {
    height: 40vh;
  }

  .dook-section:after {
    color: rgba(255, 255, 255, 0.2);
    font-size: 15em;
  }
  .footer-links {
    flex-direction: row;
    gap: 2em;
  }
  .dook_copyright {
    font-size: 0.8em;
  }
}
